$primary   : #5893df;
$secondary : #2ec5d3;
$accent    : #9C27B0;

$dark      : #192231;
$dark-page : #24344d;

$positive  : #21BA45;
$negative  : #d8d402;
$info      : #31CCEC;
$warning   : #f2c037e7;

// These are used as dark-mode defaults; light mode overrides in app.scss
$background : #192231;
$paper      : #24344d;

$text-default: #dddddd;
